{% extends 'encurtador/base.html' %}

{% block conteudo %}

{% for url in urls_curtas %}
<div class="gerenciar-url">
    <a href="{% url 'excluir' url.pk %}" class="btn excluir">Excluir</a>
    <a href="{% url 'acessar_url' url.slug %}" target="_blank" class="url-curta">{{ url.url_completa }}</a> <span class="acessos">{% if not url.acessos %} Nenhum acesso{% else %}{{ url.acessos }} {% if url.acessos == 1 %}acesso{% else %}acessos{% endif %}</span>{% endif %}
    <div class="url-destino">{{ url.destino }}</div>
</div>
{% empty %}
<p>Nenhuma URL criada.</p>
{% endfor %}

{% endblock %}